.backdrop {
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    overflow-y: scroll;

    @media screen and (max-width:767px){
     padding: 93px 15px;
        
    }
    


    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);



}


.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;





}

.is-hidden.modal {
    transform: translate(-50%, -50%) scale(0.4);
}