.filter {
    display: flex;
    
    margin-bottom: 40px;
    gap: 8px;
flex-wrap: wrap;
   
    @media screen and(min-width:768px){
        margin-bottom: 40px;
            justify-content: center;
    }
        
    
@media screen and(min-width:1200px) {
    display: flex;
    margin-bottom: 50px;
        justify-content: center;
}

}




.filter__button {
    color: var(--secondly-text-color);
    background-color: var(--third-section-color);
    font-family: roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    vertical-align: top;
    fill: solid var(--secondly-text-color);
    border-radius: 4px;

    padding: 6px 22px;

    border-color: transparent;
    transition-property: background-color, color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
   




&:hover,
&:focus {
    color: var(--white-color);
    background-color: var(--hover-color);
    font-family: roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    text-align: center;
    cursor: pointer;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}
}
.filter__button--one {
    padding: 6px 25px;
    margin: 0;
}