.occupation {
    padding-top: 0;
    padding-bottom: 94px;
    @media screen and(max-width:1199px){
display: none;
    }
        
    
}

/*whet we do*/
.occupation__list {
    display: flex;
}

.occupation__item {
    position: relative;
    margin-left: 30px;


&:first-child {
    margin-left: 0;
}
}
.occupation__position {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(47, 48, 58, 0.8);
    padding: 27px;


}

.occupation__subtitle {

    text-align: center;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: #FFFFFF;


}