.works {
    display: flex;
    flex-wrap: wrap;
        gap: 30px;
}




.works__item {
    
    
//             margin-right: 30px;
//             margin-bottom: 30px;
            
            


//         &:nth-child(2n) {
//             margin-right: 0;
//         }

//         &:nth-last-child(-n+2) {
//             margin-bottom: 0;
//         
// 
/* .photo:hover 

    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
    cursor: pointer;
 */}

.works__overlay {
    position: relative;
    overflow: hidden;

}

.works__text {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    background-color: rgba(33, 150, 243, 0.9);
    ;

    padding: 63px 24px;
    transform: translateY(101%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    ;


    color: #FFFFFF;
}



.works__poster {
    padding-top: 20px;
    padding-bottom: 20px;

    border: solid 1px var(--border-color);
    border-top: none;
    padding-left: 24px;
    padding-right: 24px;

}


.works__link {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    ;

    text-decoration: none;




&:hover .works__text,
&:focus .works__text {
    transform: translateY(0);
}
&:hover,
&:focus {
    display: block;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
    cursor: pointer;
}
}





.works__project {
    color: var(--secondly-text-color);

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin: 0;

    margin-bottom: 4px;



}

.works__value {
    font-size: 16px;
    line-height: 1.88;
    color: var(--primary-text-color);
    margin: 0;





}